
Наименование услуги	Тариф (руб.)
Регистрация одного домена (на один год)
в домене RU	600
в домене РФ	600
в домене SU	480*/600**
* стоимость регистрации домена (в период проведения Aкции «.SU-22»).
** стоимость регистрации домена (кроме периода проведения Aкции «.SU-22»).
в любом геодомене	450
в домене COM.RU, NET.RU, ORG.RU, PP.RU	450
в домене NET, COM, ORG, BIZ	620
в домене INFO	620
в домене CC	1240
в домене TV	1515
в домене ME	450*/950**
* стоимость регистрации домена на один год (в период проведения Aкции «Год МЕ в России»).
** стоимость регистрации домена на один год (кроме периода проведения Aкции «Год МЕ в России»).
в домене TEL	690
в домене MOBI	650
в домене NAME	545
в домене TRAVEL	4500
в домене AERO (минимальный срок регистрации — два года)	3700
в домене PRO	400*/570**
* стоимость регистрации домена на один год (в период проведения Aкции «Движение .PRO»).
** стоимость регистрации домена на один год (кроме периода проведения Aкции «Движение .PRO»).
в домене AG	4600
в домене BZ	1050
в домене HN	3400
в домене LC	2200
в домене MN	2150
в домене SC	4600
в домене VC	1550
в домене XXX	4000
Регистрация одного премиум-домена (на один год)
в домене TV, COM, NET, ORG, BIZ, INFO	Особый*
* для каждого отдельного домена определен в списке премиум-доменов, опубликованном на nic.ru
Регистрация одного доменного имени в доменах всего мира
Стоимость услуги определена в Приложении 1 к Регламенту 1/22
Регистрация одного освобождающегося домена (на один год) (Задаток 750 руб.)
в домене SU	 
при наличии одного заказа	600
при наличии нескольких заказов	по результатам аукциона
в геодоменах и доменах COM.RU, NET.RU, ORG.RU, PP.RU	 
при наличии одного заказа	450
при наличии нескольких заказов	по результатам аукциона
Регистрация одного освобождающегося домена второго уровня в доменах RU и РФ (на один год) в зависимости от срока, оставшегося до начала удаления доменного имени из Реестра:
Тариф 100 (10 часов >= Период действия > 9 часов)	100 000
Тариф 50 (9 часов >= Период действия > 8 часов)	50 000
Тариф 30 (8 часов >= Период действия > 7 часов)	30 000
Тариф 15 (7 часов >= Период действия > 6 часов)	15 000
Тариф 10 (6 часов >= Период действия > 5 часов)	10 000
Тариф 5 (5 часов >= Период действия > 4 часа)	5 000
Тариф 3 (4 часа >= Период действия > 3 часа)	3 000
Тариф 1 (3 часа >= Период действия > 2 часа)	1 000
Тариф Базовый (2 часа >= Период действия > 0 час)	600
Продление регистрации одного домена (на один год)
в домене RU	450
в домене РФ	450
в домене SU	600
в любом геодомене	360
в домене COM.RU, NET.RU, ORG.RU, PP.RU	360
в домене RU.NET, EXNET.SU	360
в домене NET, COM, ORG, BIZ или INFO	620
в домене CC	1240
в домене TV	1515
в домене ME	950
в домене TEL	690
в домене MOBI	650
в домене NAME	545
в домене TRAVEL	4500
в домене AERO	1850
в домене PRO	570
в домене AG	4600
в домене BZ	1050
в домене HN	3400
в домене LC	2200
в домене MN	2150
в домене SC	4600
в домене VC	1550
в домене XXX	4000
Продление регистрации одного премиум-домена (на один год)
в домене TV
* для каждого отдельного домена определен в списке премиум-доменов, опубликованном на nic.ru	Особый*
Продление регистрации одного доменного имени в доменах всего мира
Стоимость услуги определена в Приложении 1 к Регламенту 1/22
Восстановление домена/премиум-домена
в международных и зарубежных национальных доменах (NET, COM, ORG, BIZ, INFO, CC, TV, ME, TEL, MOBI, NAME, TRAVEL, AERO, PRO, XXX)	2800
в зарубежных национальных доменах AG, BZ, LC, MN, SC, VC	4500
Услуги поддержки функционирования доменов (для одного домена на один год)
Secondary	150
Primary-Standard	600
Primary-Auto	150
Web-forwarding	150
Перенаправление домена	150
Перенаправление почты	600
Дополнительные услуги для доменных имен в международных и национальных доменах
Мобилайзер	735
Смена Администратора домена/премиум-домена
в международных и зарубежных национальных доменах (NET, COM, ORG, BIZ, INFO, CC, TV, ME, TEL, MOBI, NAME, TRAVEL, AERO, PRO, AG, BZ, HN, LC, MN, SC, VC, XXX) (регистратор RU-CENTER)	450
Изменение информации о доменном имени в доменах всего мира
Стоимость услуги определена в Приложении 1 к Регламенту 1/22
Смена Регистратора для домена
в домене NET, COM, ORG, BIZ или INFO	620
в домене CC	1240
в домене TV	1515
в домене ME	950
в домене TEL	690
в домене MOBI	650
в домене NAME	545
в домене TRAVEL	4500
в домене AERO	1850
в домене PRO	570
в домене AG	4600
в домене BZ	1050
в домене HN	3400
в домене LC	2200
в домене MN	2150
в домене SC	4600
в домене VC	1550
в домене XXX	4000
 
Смена Регистратора для доменного имени в доменах всего мира
Стоимость услуги определена в Приложении 1 к Регламенту 1/22
Услуга хостинга
 	Стоимость услуги (руб.) по тарифу:
<Почта>	<101>	<201>	<301>
на 1 месяц	150	210	330	510
на 3 месяца	420	600	945	1455
на 6 месяцев	810	1125	1770	2760
на 12 месяцев	1440	1950	3150	4890
Смена тарифа (для услуги хостинга)	стоимость услуги расчетная (см. Регламент 1/10)
Услуга хостинга конфиденциальной информации
на 1 месяц	1800
на 3 месяца	5130
на 6 месяцев	9720
на 12 месяцев	17280
 
SSL-сертификаты
 	Стоимость услуги (руб.):
SSL123
SSLWebServer
SSLWildCard
выпуск/продление	выпуск	продление	выпуск/продление
на 1 год	2630	4750	5650	20990
на 2 года	4970	8320	9510	36740
на 3 года	6570	11430	14130	—
на 4 года	8540	15410	18360	—
на 5 лет	10490	18980	22590	—
 
goMobi™
на 1 месяц	150
на 3 месяца	429,99
на 6 месяцев	805,02
на 12 месяцев	1431,96
 
Услуга «Пакет»
Наименование	Состав	Стоимость услуги (руб.)	Срок формирования
Два домена	два домена в домене РФ	650	14 календарных дней
один домен в домене РФ,
один домен в домене RU
один домен в домене РФ,
один домен в домене SU	650
два домена в домене RU	750
один домен в домене RU,
один домен в домене COM (на 1 год)	950
.РФ+DNS	 один домен в домене РФ,
Primary-Standard для одного домена .РФ,
Secondary для одного домена .РФ	650
один домен в домене РФ,
Primary-Standard для одного домена .РФ
один домен в домене РФ,
Secondary для одного домена .РФ
.РФ+Перенаправление домена	один домен в домене РФ,
перенаправление одного домена .РФ	650
 
Услуга «Пакет»
Наименование	Состав	Стоимость услуги
в зависимости от периода и тарифа хостинга (руб.)	Срок формирования
Период	Тариф
<101>	<201>	<301>
.RU+Хостинг	один домен в домене RU,
Хостинг	3 мес.	650	995	1505	14  календарных дней
12 мес.	2000	3200	4940
 
Услуга «Пакет»
Наименование	Состав	Стоимость услуги
в зависимости от периода и тарифа хостинга (руб.)	Срок формирования
Период	Тариф
<201>
Хостинг+goMobi™	Хостинг,
goMobi™	3 мес.	980	14  календарных дней
12 мес.	3260
Юридические услуги
Наименование	Стоимость услуги (руб.)
Устные консультации по вопросам защиты прав правообладателей товарных знаков, фирменных наименований, администраторов доменов	6000
Письменные заключения	8000
Досудебное урегулирование спора (написание письма, претензии, ответа на претензию)	8000
Подготовка и написание искового заявления	15000
Предоставление списка нотариусов г.Москвы, оказывающих услуги по осмотру сайта в рамках обеспечения доказательств	1000
Подборка и предоставление копий судебных актов, связанных с практикой рассмотрения дел по доменным спорам	3000
Устная консультация по вопросам, связанным с утратой заказчиком прав по администрированию домена	3000
Консультация по вопросам использования сервиса Общедоступной справочной службы «Whois»	2000
Ускоренная (до 3 дней) подготовка ответов на запросы адвокатов	1500
Консультирование по вопросам защиты авторских прав, деловой репутации	3000
Консультация по вопросам составления официальных запросов к регистраторам, Координаторам	2000
Консультация по вопросам системы доменных имен, правового статуса администратора домена, законодательного закрепления отношений по регистрации доменов, правил регистрации и аннулирования доменов	2000
 
Иные услуги
Заполнение сотрудником RU-CENTER анкеты для заключения договора	210
Заполнение сотрудником RU-CENTER заявки на регистрацию одного домена	75
Обработка сотрудником RU-CENTER заявки на возврат электронного платежа	8% от суммы к возврату, но не менее 50 руб.
Повторное оформление и доставка документов
 	Стоимость услуги (руб.):
в офисе RU-CENTER	заказное почтовое отправление	курьер по Москве
Повторное направление возвращенных почтовой службой документов	0	100*	600
Повторное оформление документов	250*	250*	700
Оформление копий документов**	100*	100*	600
* Стоимость услуги за один комплект документов (не более 20 листов)
** Копия договора, бухгалтерские документы повторно
