<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]> <html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8" lang="ru"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9" lang="ru"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="ru"><!--<![endif]-->

<head>
<meta charset="utf-8" />
<!-- CSS: screen, mobile & print are all in the same file -->
<link rel="stylesheet" href="css/style.css" media="all" />
<title>NSYSTEMS</title>
<!--[if lt IE 9]>
<script src="js/html5.js" type="text/javascript"></script>
<![endif]-->
</head>
<body dir="ltr">
<div class="wrapper">
  <header>
    <div class="logo"> <a href="#"><img src="images/logo.png" width="72" height="46" alt="" /></a>
      <h1>systems</h1>
      <span class="tag-line">изобретая будущее</span> </div>
     <div class="sacred-button"><span>Священная кнопка</span><a href="#" class="button">Почему мы?</a></div>
    <div class="contact-info"> Ждем вашего звонка&#58; <strong>&#40;3452&#41; 500&ndash;348</strong> </div>
    <nav>
      <ul>
        <li><a href="#"><span>Главная</span></a></li>
        <li class="portfolio"> <a href="#"><span>Портфолио</span></a>
          <div class="drop-down clearfix">
            <div class="top-shadow">&nbsp;</div>
            <section class="column-one">
              <h2>По типам, отраслям</h2>
              <ul>
                <li class="corporate"><a href="#">Корпоративные<span>&#40;28&#41;</span><strong>Узнаваемость бренда</strong></a></li>
                <li class="online-stores"><a href="#">Интернет магазины<span>&#40;28&#41;</span><strong>Увеличение продаж</strong></a></li>
                <li class="portals"><a href="#">Порталы и спец. проекты<strong>Нестандартные проекты на заказ, дорого&#8230;</strong></a></li>
              </ul>
            </section>
            <section class="column-two">
              <h2>По годам</h2>
              <ul>
                <li><a href="#">2007</a><strong>,</strong> <a href="#">2008</a><strong>,</strong> <a href="#">2009</a><strong>,</strong> <a href="#">2010</a><strong>,</strong> <a href="#">2011</a><strong>,</strong> <a href="#">2012 </a><a href="#">2013 </a><a href="#"> будущее</a></li>
              </ul>
            </section>
          </div>
        </li>
        <li><a href="#"><span>Стоимость сайта</span></a></li>
        <li><a href="#"><span>Поддержка</span></a></li>
        <li class="no-border"><a href="#"><span>Контакты</span></a></li>
      </ul>
    </nav>
  </header>
  <!-- HEADER ENDS -->
  <div id="slides">
    <div class="slides_container">
      <div><img src="images/slider-1.jpg" width="342" height="324" alt="slider-1" />
        <div class="online-delivery">
          <h2>интернет-магазин <span>доставки</span></h2>
          <p class="web-site"><a href="#">www.муравейник.рф</a></p>
          <p>Продать, купить, сдать, снять - недвижимость в Тюмени</p>
        </div>
      </div>
      <div><img src="images/slider-1.jpg" width="342" height="324" alt="slider-1" />
        <div class="online-delivery">
          <h2>интернет-магазин <span>доставки</span></h2>
          <p class="web-site"><a href="#">www.муравейник.рф</a></p>
          <p>Продать, купить, сдать, снять - недвижимость в Тюмени</p>
        </div>
      </div>
      <div><img src="images/slider-1.jpg" width="342" height="324" alt="slider-1" />
        <div class="online-delivery">
          <h2>интернет-магазин <span>доставки</span></h2>
          <p class="web-site"><a href="#">www.муравейник.рф</a></p>
          <p>Продать, купить, сдать, снять - недвижимость в Тюмени</p>
        </div>
      </div>
      <div><img src="images/slider-1.jpg" width="342" height="324" alt="slider-1" />
        <div class="online-delivery">
          <h2>интернет-магазин <span>доставки</span></h2>
          <p class="web-site"><a href="#">www.муравейник.рф</a></p>
          <p>Продать, купить, сдать, снять - недвижимость в Тюмени</p>
        </div>
      </div>
      <div><img src="images/slider-1.jpg" width="342" height="324" alt="slider-1" />
        <div class="online-delivery">
          <h2>интернет-магазин <span>доставки</span></h2>
          <p class="web-site"><a href="#">www.муравейник.рф</a></p>
          <p>Продать, купить, сдать, снять - недвижимость в Тюмени</p>
        </div>
      </div>
    </div>
    <div class="previous-tooltip">
      <p>Предыдущий</p>
    </div>
    <div class="next-tooltip">
      <p>Следующий</p>
    </div>
    <div><a href="#" class="prev">prev</a> <a href="#" class="next">Next</a> </div>
    <a href="#" class="back-to-portfolio">Перейти в портфолио</a> </div>
  <!-- SLIDES ENDS -->
  
  <div class="blocks">
    <section class="block-one">
      <h3>ДИЗАН <br>
        Уникальный для каждого сайта.<span>Красивое удобство.</span></h3>
      <p><img src="images/pic-1.jpg" width="184" height="91" alt="" /></p>
      <a href="#" class="more" >Подробнее</a> </section>
    <section class="block-two">
      <h3>Удобная и простая<br>
        Ситема управлния сайтом.<span>Управлять бизнесом стало проще.</span></h3>
      <p><img src="images/pic-2.jpg" width="110" height="110" alt="" /></p>
      <a href="#" class="more" >Подробнее</a> </section>
    <section class="block-three">
      <h3>КОНТЕНТ<br>
        Размещение информации. <span>Текст, фото, аудио, видео, и.м.д.</span></h3>
      <p><img src="images/pic-3.png" width="102" height="101" alt="" /></p>
      <a href="#" class="more" >Подробнее</a> </section>
    <a href="#" class="read-more">Все приемущества</a> </div>
  <!-- BLOCKS ENDS -->
  <div class="why-do clearfix">
    <section class="block-one">
      <h3>Почему мы</h3>
      <div class="clearfix">
        <ul class="clearfix">
          <li>5 лет на рынке.</li>
          <li>20 сотрудников.</li>
          <li>Находимся в центре города.</li>
          <li>В 2010 г. лучшее малое предприятие <br>в сфете информационных технологий.</li>
          <li>Еще один крутой факт.</li>
        </ul>
        <a href="#" class="read-more">Узнать больше</a> </div>
    </section>
    <section class="block-two">
      <h3>Нам доверяют</h3>
      <div class="clearfix">
        <ul class="clearfix">
          <li><a href="#"><img src="images/logo-1.jpg" width="126" height="83" alt="" /></a></li>
          <li><a href="#"><img src="images/logo-2.jpg" width="126" height="83" alt="" /></a></li>
          <li><a href="#"><img src="images/logo-3.jpg" width="126" height="83" alt="" /></a></li>
          <li><a href="#"><img src="images/logo-4.jpg" width="126" height="83" alt="" /></a></li>
          <li><a href="#"><img src="images/logo-5.jpg" width="126" height="83" alt="" /></a></li>
          <li><a href="#"><img src="images/logo-6.jpg" width="126" height="83" alt="" /></a></li>
          <li><a href="#"><img src="images/logo-7.jpg" width="126" height="83" alt="" /></a></li>
          <li><a href="#"><img src="images/logo-8.jpg" width="126" height="83" alt="" /></a></li>
        </ul>
        <a href="#" class="read-more">Показать всех</a> <span class="activities"><strong>Всего
        <mark>234</mark>
        компании</strong> —  присоединяйтесь, с нами хорошо!</span> </div>
    </section>
  </div>
  <!-- WHY-DO ENDS -->
  <section class="about-company clearfix">
    <h3>О компании</h3>
    <p class="features">Создание сайтов, разработка и продажа программного обеспечения</p>
    <div>
      <h3>Давайте определимся - какой сайт вам нужен?</h3>
      <ul class="site-do-you-need">
        <li>
          <h3>Мне нужен обычный сайт</h3>
          <p>Это довольно просто. <a href="#">Присылайте</a> ваш логотип и пожелания по внешнему виду, информацию для разделов "О компании", "Контакты", "Услуги" и все, что считаете нужным. Для обычного сайта будет достаточно информации помещающейся на 3-10 страницах А4. Срок создания сайта от 3 до 10 дней. Стоимость "под ключ" - всего 18 000 рублей. </p>
        </li>
        <li>
          <h3>Мне нужен интернет-магазин</h3>
          <p>Вариантов исполнения - масса, <a href="#">позвоните</a> нам, мы вместе попробуем выбрать подходящий именно вам. Если же брать самый распространенный вариант - сайт с каталогом товаров из 100 наименований, принимающий оплату электронными деньгами, и позволяющий автоматически выгружать ваши цены и остатки товара из 1С - то всего за 49 700 рублей, уже через 2 недели вы получите  интернет-магазин готовый принимать заказы!  Сомневаетесь - посмотрите на <a href="#">интернет-магазины</a>, которые мы уже сделали. </p>
        </li>
        <li>
          <h3>Мне нужен крупный корпоративный сайт</h3>
          <p>Большая часть сайтов, которые мы сделали - именно корпоративные. Стоимость и сроки варьируются довольно широко от 10 до 30 дней и от 30 000 до 200 000. Преимущества - наш фирменный подход "Сайт под ключ",  простая но мощная система управления сайтом, бесплатное внесение всей предоставленной информации на сайт (в разумных пределах, естественно). За примерами сайтов далеко ходить на надо - посмотрите наше <a href="#">портфолио</a>. А после этого - мы ждем от вас звонка на (3452) 93-21-81, где с удовольствием ответим на все ваши вопросы. Обсудить детали с глазу на глаз можно <a href="#">у нас в офисе</a> за чашечкой кофе или чая, а при необходимости мы подъедем к вам сами.</p>
        </li>
        <li>
          <h3>Не могу определиться, какой именно сайт мне нужен :(</h3>
          <p>Побродите по интернету или по нашему <a href="#">портфолио</a> и попытайтесь определить что вам более-менее подходит. А после этого - мы ждем от вас звонка на (3452) 93-21-81, где мы точно определим с вами - что же за сайт вам нужен, сколько он будет стоить и как быстро будет готов. Пообщаться лично можно <a href="#">у нас в офисе</a> за чашечкой кофе или чая, или мы приедем к вам.</p>
        </li>
      </ul>
      <h3>А еще</h3>
      <h4>Мне нужна раскрутка сайта</h4>
      <p>Раскрутка - вещь еще более индвидуальная чем создание сайта, поэтому "средних" рекомендаций мы не сможем дать. Пишите, звоните (3452) 93-21-81, приезжайте - посмотрим на ваш сайт, попробуем подобрать поисковые запросы и рассчитать стоимость. Кроме раскрутки (продвижения в поисковых системах) мы можем предложить еще контекстную рекламу на 3 ведущих площадках Рунета, юзабилити-тестирование, продвижение в социальных сетях и копирайтинг.  Чтобы предварительно понимать порядок цен - мы подготовили несколько различных расчетов <a href="#">стоимости продвижения сайта</a>.</p>
      <h4>Нужно просто обслуживать мой сайт</h4>
      <p>У нас есть несколько тарифов на поддержку сайтов. От "Экономного" до "Беззаботного". <a href="#">Обращайтесь</a> - подберем оптимальный вариант.</p>
      <h4>Ключевыми направлениями работы компании «Нео-Системс» являются:</h4>
      <ul>
        <li>Создание сайтов любого уровня сложности <a href="#">(коммерческое предложение на создание сайта)</a></li>
        <li>Реклама в интернете — продвижение сайтов, контекстная реклама</li>
        <li>Разработка, внедрение и продажа программного обеспечения.</li>
      </ul>
      <h4>За 3 года, специалистами компании</h4>
      <p> <a href="#">185 созданых сайтов</a><br/>
        10 интернет-магазинов<br/>
        сделано комплексное продвижение  сайтов наших заказчиков,<br/>
        успешно внедрена система электронного документооборота DocsVision,<br/>
        список поставщиков лицензионного ПО составляет более 300 компаний.<br/>
        Разработан ряд собственных программных продуктов.<br/>
      </p>
      <h4>Вы можете переговорить с нами прямо сейчас! Кликните на сообщение ниже, если мы в сети (зеленый индикатор)</h4>
      <p>Мы уделяем большое внимание внешнему виду наших сайтов и ПО, стремимся сделать интерфейс как можно проще, не потеряв при этом функционала. Сотрудники компании тратят до 20% рабочего времени на собственные разработки, и самые лучшие из них воплощаются в наших проектах. Кроме того, что вы можете увидеть в нашем <a href="#">портфолио</a>, — внешней стороны создания сайтов — есть ещё скрытая от глаз внутрення — бизнес-логика и бизнес-инструменты сайта. За годы работы мы создали действительно уникальные продукты, решили сложные задачи, прочитать о которых и оценить вы можете в разделе «Уникальные разработки»</p>
      <p><strong><em>Сейчас мы открыты для вас, для того чтобы сделать ваш сайт лучше, извлечь из него максимальную выгоду и получить
        удовольствие от общения с нами.</em></strong></p>
    </div>
  </section>
  <!-- ABOUT COMPANY ENDS --> 
  <footer>
     <div class="columns clearfix">
    	<div class="column-one">
        <h4>О компании</h4>
        <ul>
        	<li><a href="#">Контакты</a></li>
            <li><a href="#">Сотрудники</a></li>
            <li><a href="#">Благодарности и Сертификаты</a></li>
            <li><a href="#">Должностной кодекс</a></li>
            <li><a href="#">Пресс-центр</a></li>
            <li><a href="#">Название</a></li>
            <li><a href="#">Разработка баннеров</a></li>
        </ul>
        </div>
        <div class="column-two">
        <h4>Создание сайтов</h4>
        <ul>
        	<li><a href="#">Создание сайтов</a></li>
            <li><a href="#">Какой сайт вам нужен?</a></li>
            <li><a href="#">Портфолио</a></li>
            <li><a href="#">Калькулятор стоимости</a></li>
            <li><a href="#">Коммерческое предложение</a></li>
            <li><a href="#">Партнеры</a></li>
        </ul>
        </div>
         <div class="column-three">
        <h4>Раскрутка сайтов</h4>
        <ul>
        	<li><a href="#">Примеры расчетов</a></li>
            <li><a href="#">Кратко о раскрутке</a></li>
        </ul>
        </div>
         <div class="column-four">
        <h4>Программное обеспечение</h4>
        <ul>
        	<li><a href="#">Прайс листы</a></li>
        </ul>
        </div>
        <div class="column-five">
        <h4>Программирование на заказ</h4>
        <ul>
        	<li><a href="#">Наши работы</a></li>
        </ul>
        </div>
     </div>
     <div class="contact-address clearfix">
     <div class="powered-by">	
     	<p><a href="#">Работает на</a></p>
     </div>
     <div class="contact">
     <address>
     	<a href="#">ул. Герцена 64</a>(Сити-Центр)
     <span>	Ждем вашего звонка: </span><strong>(3452) 500-348</strong>
		</address>      
    </div> 
     <p class="features">Создание сайтов Тюмень, разработка сайтов Тюмень, раскрутка сайта тюмень, создание интернет-магазинов, изготовление сайтов Тюмень.</p>    
         
     </div>
    </footer><!-- FOOTER ENDS -->
</div>
<!-- .WRAPPER ENDS --> 

<!-- here comes the javascript --> 
<!-- Grab Google CDN's jQuery. fall back to local if necessary --> 
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>--> 
<script src="js/jquery-1.7.1.min.js" type="text/javascript"></script> 
<script type="text/javascript" src="js/slides.min.jquery.js"></script> 
<script src="js/common.js" type="text/javascript"></script> 
<!-- this is where we put our custom functions --> 
<!-- Asynchronous google analytics; this is the official snippet.
	 Replace UA-XXXXXX-XX with your site's ID and uncomment to enable.
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-XXXXXX-XX']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>-->

</body>
</html>